<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="container">


    <h2 style="text-align: center">Danh Sách Thành Phố</h2>

    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Thành phố</th>
            <th>Quốc gia</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="city : ${cities}">
            <td th:text="${city.id}"></td>
            <td><a th:href="@{/view/{id}(id=${city.id})}"><span th:text="${city.name}"></span></a></td>
            <td th:text="${city.country.name}"></td>
            <td><a th:href="@{/edit/{id}(id=${city.id})}" class="btn btn-warning">Chỉnh sửa</a></td>
            <td><a onclick=" return confirm('Bạn có muốn xóa???')" th:href="@{/delete/{id}(id=${city.id})}" class="btn btn-danger">Xoá</a></td>
        </tr>
        </tbody>
    </table>
</div>
<span><a th:if="${city.hasPrevious()}" th:href="@{/home (pageNumber = ${city.number - 1})}"><<<<</a></span>
<span th:text="${city.number + 1}"></span>/<span th:text="${city.totalPages}"></span>
<span><a th:if="${city.hasNext()}" th:href="@{/home (pageNumber = ${city.number + 1})}">>>>></a></span>
<div th:replace="/layout :: footer"></div>
</body>
</html>
<script>

    function search() {
        let name = document.getElementById("findName").value;
        let url = "http://localhost:8080/api/students/" + name;

        $.ajax({
            headers: {
                'Accept': 'application/json'
            },
            type: "GET",
            url: url,
            //xử lý khi thành công
            success: function (data) {
                document.getElementById("tbody").innerHTML = showData(data.content);
            },
            error: function (err) {
                alert(err)
            }
        })
    }

    function showData(arrStudent) {
        let str = "";
        for (let i = 0; i < arrStudent.length; i++) {
            str += `<tr>
            <td>${i + 1}</td>
            <td>${arrStudent[i].name}</td>
            <td><a class="btn btn-warning">edit</a></td>
            <td><a class="btn btn-warning">delete</a></td>
        </tr>`
        }
        return str;
    }

</script>